References/
Code/plots/
__pycache__/ # Don't include any pycache dirs
.ipynb_checkpoints/
.pytest_cache/
*.pyc
*.pyd
*.dat
*.npy
*.json
# Ignore all files from Cython as they are
# not cross-platform
Code/build
*.c
*.so
Code/cython_debug

# Ignore the temp files in docs
Code/docs/*
!Code/docs/_build/
Code/docs/_build/*
!Code/docs/_build/html
!Code/docs/index.rst
!Code/docs/conf.py


# Ignore all files in the Tracker directory
Tracker/*
Tracker/Report/*
Tracker/Report/build/*
# Except tex, bib, pdf, md and pptx files
!Tracker/*.tex
!Tracker/*.bib
!Tracker/*.pdf
!Tracker/*.pptx
!Tracker/*.md
!Tracker/img
!Tracker/Report/img
!Tracker/Report/*.tex
!Tracker/Report/*.bib
!Tracker/Report/*.pdf
